{
  email {$LETSENCRYPT_EMAIL}
}

{$PUBLIC_HOSTNAME} {
  encode gzip

  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "DENY"
    Referrer-Policy "same-origin"
  }

  @api path /api/*
  reverse_proxy @api backend:8000
  reverse_proxy dashboard:8080
}
